<ul class="sidebar-menu">
  <li class="header">MAIN NAVIGATION</li>
  {% for n,nav in system.navigations %}
      {% if nav.children is defined and nav.children|length %}
        <li class="treeview">
          <a href="#">
            <i class="fa fa-circle"></i> <span>{{ __(nav.label) }}</span>
            <span class="pull-right-container">
              <i class="fa fa-angle-left pull-right"></i>
            </span>
          </a>
          <ul class="treeview-menu">
            {% for name,child in nav.children %}
              <li><a id="nav-{{name}}" href="{{url(child.route)}}"><i class="fa fa-circle-o"></i> {{ __(child.label) }}</a></li>
            {% endfor %}
          </ul>
        </li>

      {% else %}
        <li>
          <a id="nav-{{ n }}" class="navbar-link"  href="{{url(nav.route)}}">
            <i class="fa fa-circle"></i> <span>{{ __(nav.label) }}</span>
          </a>
        </li>
      {% endif %}
  {% endfor %}
</ul>
