{% if comments %}
    <ul style="list-style:none;margin:0;padding:0;">
        {% for comment in comments %}
            <li>
                <div style="width:40px;height:40px;float:left;margin-right:10px;">
                    <img alt="" src="{{ gravatar_url(comment.authorEmail, 40) }}">
                </div>
                <div style="text-overflow: ellipsis;">
                    {{ comment.authorName }} {{ __('On') }}
                    <a href="{{ url('dt_blog_post_edit', {id: comment.post.id}) }}">{{ comment.post.title }}</a>
                    <p>{{ comment.content }}</p>
                </div>
            </li>
        {% endfor %}
    </ul>
{% else %}
<?php else : ?>
    <p>{{ __('No recent comment') }}</p>
{% endif %}
<div>
    <a href="{{ url('dt_blog_comment') }}" class="btn btn-sm pull-right">{{ __('View more') }}</a>
</div>