{% extends "CoreBundle::base_index.html.twig" %}

{% block action %}
    {% if is_granted('ROLE_CATEGORY_CREATE') %}
    <a href="{{ url('dt_blog_category_edit', {id:'new'}) }}" class="btn btn-success">
        <i class="fa fa-plus" style=""></i> {{ __('New Category') }}
    </a>
    {% endif %}

    {% if is_granted('ROLE_CATEGORY_DELETE') %}
    <button class="btn btn-default uncreate-action" type="submit" name="action" value="delete">
        <i class="fa fa-trash-o"></i> {{ __('Delete') }}
    </button>
    {% endif %}
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="{{ view_id }}-data-table">
        <thead>
            <tr>
                <th class="sorting" width="15">
                    <input id="{{ view_id }}-checkall" type="checkbox">
                </th>
                <th width="30%">{{ __('Label') }}</th>
                <th width="70%">{{ __('Description') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js" '@BlogBundle/Resources/js/category/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
