{% extends "CoreBundle::base_index.html.twig" %}

{% block filter %}
    <select name="status-filter" class="dt-table-filter form-control filter user-status-filter">
        <option value="all" selected >- Status -</option>
        <option value="enabled" >{{ __('Enabled') }}</option>
        <option value="disabled" >{{ __('Disabled') }}</option>
    </select>
    <select name="group-filter" class="dt-table-filter form-control filter user-group-filter">
        <option value="0" >- {{ __('Group') }} -</option>
        {% for group in groups %}
        <option value="{{ group.id }}">{{ group.name }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block action %}
    {% if is_granted('ROLE_USER_CREATE') %}
        <a href="{{path('dt_user_edit', {id:'new'})}}" class="btn btn-success">
            <i class="fa fa-plus" style=""></i> {{ __('New User') }}
        </a>
    {% endif %}

    {% if is_granted('ROLE_USER_DELETE') %}
        <button class="btn btn-default uncreate-action" type="submit" name="action" value="delete">
            <i class="fa fa-trash-o"></i> {{ __('Delete') }}
        </button>
    {% endif %}

{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="users-data-table">
        <thead>
            <tr>
                <th class="all sorting" width="15">
                    <input id="users-checkall" type="checkbox">
                </th>
                <th class="desktop">{{ __('Name') }}</th>
                <th class="all">{{ __('Email') }}</th>
                <th class="all">{{ __('Status') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@qs' '@UserBundle/Resources/js/index.js' %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script type="text/javascript">
        drafTerbit.user.handleIndexTable('#users-data-table');
        drafTerbit.user.handleIndexForm('#user-index-form');
        drafTerbit.user.listenTableFilter('.user-status-filter', '.user-group-filter', '.filter');
    </script>
{% endblock %}
