{% for f in form %}
    <div class="form-group col-md-6">
        {% if 'post_path' != f.vars.name %}
            {{ form_label(f) }}
            {{ form_widget(f, {attr: {class:"form-control"}}) }}
        {% endif %}
    </div>
{% endfor %}
<div class="form-group col-md-12">
    {{ form_label(form.post_path, 'Permalinks') }}
    {% for c in form.post_path %}
        <div class="radio">
            <label>
              {{ form_widget(c) }} <code>{{ c.vars.label }}</code>
            </label>
        </div>
    {% endfor %}
</div>