{% extends "CoreBundle::base.html.twig" %}

{% import _self as dashboard %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  filter='?uglifycss' output="assets/css/*.css" '@CoreBundle/Resources/scss/dashboard.scss' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row panel-container">
            <div class="panel-row col-md-6" id="dt-panels-left" data-pos="left">
                {% for panel in left_panels %}
                    {{ dashboard.display_panel(panel) }}
                {% endfor %}
            </div>

            <div class="panel-row col-md-6" id="dt-panels-right" data-pos="right">
                {% for panel in right_panels %}
                    {{ dashboard.display_panel(panel) }}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="modal in" id="dt-panel-edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                //..
            </div>
        </div>
    </div>
{% endblock %}

{% macro display_panel(panel) %}
    <div  {% if panel.status == 0 %} style="display:none" {% endif %}  class="panel-item" id="dashboard-panel-{{ panel.name }}">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ panel.title }}</h3>
            </div>
            <div class="panel-body">
                {% autoescape false %}
                   {{ panel.view }}
                {% endautoescape %}
            </div>
        </div>
    </div>
{% endmacro %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
    '@jquery_form'
    '@jquery_ui_js'
    '@CoreBundle/Resources/js/dashboard.js'
     filter='?uglifyjs2' output="assets/js/*.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
