{% extends "CoreBundle::base2.html.twig" %}

{% import _self as dashboard %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets  filter='?uglifycss' output="assets/css/*.css" '@CoreBundle/Resources/scss/dashboard.scss' %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
    {% endstylesheets %}
{% endblock %}

{% block content_header %}
  <h1>
    {{ __('Dashboard') }}
    <small>{{ __('Summary, Statistics and Recent Updates') }}</small>
  </h1>
{% endblock %}

{% block content %}
  <!-- Default box -->
  <div class="row panel-container">
      <div class="panel-row col-md-6" id="dt-panels-left" data-pos="left">
        {% for panel in left_panels %}
            {{ dashboard.display_panel(panel) }}
        {% endfor %}
      </div>

      <div class="panel-row col-md-6" id="dt-panels-right" data-pos="right">
          {% for panel in right_panels %}
              {{ dashboard.display_panel(panel) }}
          {% endfor %}
      </div>
  </div>

    <div class="modal in" id="dt-panel-edit-modal">
        <div class="modal-dialog">
            <div class="modal-content">
                //..
            </div>
        </div>
    </div>
{% endblock %}

{% macro display_panel(panel) %}

<div class="box panel-item"
  {% if panel.status == 0 %} style="display:none" {% endif %}
  id="dashboard-panel-{{ panel.name }}">
  <div class="box-header with-border">
    <h3 class="box-title">{{ panel.title }}</h3>

    <div class="box-tools pull-right">
      <button type="button" class="btn btn-box-tool" data-widget="collapse" data-toggle="tooltip" title="Collapse">
        <i class="fa fa-minus"></i></button>
      <button type="button" class="btn btn-box-tool" data-widget="remove" data-toggle="tooltip" title="Remove">
        <i class="fa fa-times"></i></button>
    </div>
  </div>
  <div class="box-body">
    {% autoescape false %}
       {{ panel.view }}
    {% endautoescape %}
  </div>
  <!-- /.box-body -->
  <!--<div class="box-footer">
    Footer
  </div> -->
  <!-- /.box-footer-->
</div>
<!-- /.box -->
{% endmacro %}

{% block javascripts %}
    {{parent()}}
    {% javascripts
    '@jquery_form'
    '@jquery_ui_js'
    '@CoreBundle/Resources/js/dashboard.js'
     filter='?uglifyjs2' output="assets/js/*.js"
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
