{% import _self as dashboard %}

<div class="col-md-6" id="dt-panels-left" data-pos="left">
    {% for panel in left_panels %}
        {{ dashboard.panel_item(panel) }}
    {% endfor %}
</div>

<div class="col-md-6" id="dt-panels-right" data-pos="right">
    {% for panel in right_panels %}
        {{ dashboard.panel_item(panel) }}
    {% endfor %}
</div>

{% macro panel_item(panel) %}
    <div class="dt-panel-item">
        <a data-id="{{ panel.id }}" data-toggle="modal" data-target="#dt-panel-edit-modal" href="javascript:;" class="dt-panel-edit-toggler">
            {{ panel.title }}
        </a>

        <div class="pull-right">
            <a data-id="{{ panel.id }}" href="#" class="btn btn-xs btn-default dt-panel-delete"><i class="fa fa-trash-o"></i></a>
        </div>
    </div>
{% endmacro %}