{% extends "CoreBundle::base_edit.html.twig" %}

{% block content_header %}
  <h1>
    Pages
    <small>Static Pages</small>
  </h1>
{% endblock %}

{% block action %}
    {{ form_widget(form.Save, {label:__('Save Page'), attr:{class:"btn btn-success"}}) }}
    <a class="btn btn-default" href="{{ url('dt_page') }}">
        <i class="fa fa-times" style="color: #A94442;"></i> <span class="dt-editor-close-text">{{ __('Cancel') }}</span>
    </a>
{% endblock %}

{% block form %}
<div class="row">
    <div class="col-md-9">
        <div class="form-group">
            {{ form_widget(form.title, {attr:{class:"form-control input-lg", placeholder:__('Title')}}) }}
         </div>
         <div class="form-group">
            {{ form_widget(form.content) }}
         </div>
    </div>
    <div class="col-md-3">
        <div class="form-group">
            {{ form_widget(form.slug, {attr:{class:"form-control", placeholder:__('Slug')}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, {attr:{class:"form-control"}}) }}
         </div>
         <div class="form-group">
            {{ form_label(form.layout) }}
            {{ form_widget(form.layout, {attr:{class:"form-control"}}) }}
         </div>
    </div>
</div>
{% endblock %}

{# @todo clean ckeditor #}
{% block javascripts %}
    {{ parent() }}

    <script> window.CKEDITOR_BASEPATH = drafTerbit.baseUrl+'assets/ckeditor/'; </script>

    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@ckeditor' '@PageBundle/Resources/js/editor.js'%}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    <script> {% include 'CoreBundle:Asset:ckeditor.js.twig' with {ckeditor_ctn:"page[content]" } %}</script>

    {% if page_id == 'new' %}
    <script type="text/javascript">
        drafTerbit.pageEditor.syncSlugAndTitle();
    </script>
    {% endif %}
{% endblock %}
