{% extends "CoreBundle::base_index.html.twig" %}

{% block filter %}
    <select name="filter" class="dt-table-filter form-control page-status-filter">
        <option value="all"> {{ __('Status') }}</option>
        <option value="published">{{ __('Published') }}</option>
        <option value="pending" >{{ __('Pending Review') }}</option>
        <option value="trashed">{{ __('Trashed') }}</option>
    </select>
{% endblock %}

{% block action %}
<a href="{{ url('dt_page_edit', {id:"new"}) }}" class="btn btn-success">
    <i class="fa fa-plus" style=""></i> {{ __('New Page') }}
</a>

<button class="btn btn-default uncreate-action" type="submit" name="action" value="trash">
    <i class="fa fa-trash-o"></i> {{ __('Trash') }}
</button>
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="page-data-table">
        <thead>
            <tr>
                <th class="sorting" width="15">
                    <input id="page-checkall" type="checkbox">
                </th>
                <th width="">{{ __('Title') }}</th>
                <th width="200">{{ __('Last Modified') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@PageBundle/Resources/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}
{% endblock %}
