{% extends "CoreBundle::base_edit.html.twig" %}

{% import _self as this %}

{% block stylesheets %}
  {{ parent() }}
  {% stylesheets filter='?uglifycss' output="assets/css/*.css"
  '@magicsuggest_css'
  '@bootstrap_datetimepicker_css'
  '@BlogBundle/Resources/scss/editor.scss'
  %}
  <link rel="stylesheet" type="text/css" href="{{ asset_url }}">
  {% endstylesheets %}
{% endblock %}

{% block action %}
  {{form_widget(form.Save, {attr:{class:"btn btn-success"}})}}
<a class="btn btn-default" href="{{ url('dt_blog_post') }}">
    <i class="fa fa-times" style="color: #A94442;"></i> <span class="dt-editor-close-text">{{ __('Cancel') }}</span>
</a>
{% endblock %}

{% block form %}
<div class="row">
    <div class="clearfix col-md-9">
        <div class="form-group">
          {{ form_widget(form.title, {attr:{class:"form-control input-lg", placeholder:__('Title')}}) }}
         </div>
         <div class="form-group">
          {{ form_widget(form.content) }}
         </div>
         {% if revisions %}
          <div class="panel panel-default dt-revisions-container">
            <div class="panel-heading">
              <h5 class="panel-title" style="font-size:14px;text-align:center">
                <a href="#revisions" data-parent="" data-toggle="collapse" aria-expanded="false">
                    {{ __('Revisions') }} ({{ revisions|length }})
                </a>
              </h5>
            </div>
            <div class="panel-collapse collapse" id="revisions" aria-expanded="false">
                <div class="panel-body">
                    <div class="pull-right">
                        <a class="clear-history" href="#" data-post-id="{{ post_id }}"><i class="fa fa-times"></i> {{ __('Clear') }}</a>
                    </div>
                    <ol style="list-style:none">
                      {% for revision in revisions %}
                            <li>
                                <a href="{{ url('dt_user_edit', {id:revision.user.id}) }}">{{ revision.user.realname }}</a>
                                (<a href="{{url('dt_blog_revision_view', {postId: post_id})}}#rev-{{revision.id}}">{{ revision.createdAt|date('d F Y, @H:i') }}</a>)
                            </li>
                      {% endfor %}
                    </ol>
                </div>
              </div>
          </div>
         {% endif %}
    </div>
    <div class="clearfix col-md-3">
        <div class="form-group" >
          {{ form_widget(form.slug, {attr:{class:"form-control", placeholder:__('Slug')}}) }}
        </div>
        <div class="form-group">
            {{ form_label(form.status) }}
            {{ form_widget(form.status, {attr:{class:"form-control"}}) }}
        </div>
         <div class="form-group">
          {{ form_label(form.published_at, __('Published At')) }}
          {{ form_widget(form.published_at, {attr:{class:"form-control publish-date"}}) }}
         </div>
        <div class="form-group">
            {{ form_label(form.categories, __('Categories')) }}
            <div class="dt-categories">
              <ul>
              {% for c in form.categories %}
                <li>{{ form_widget(c) }} {{ c.vars.label }}</li>
              {% endfor %}
              <ul>
            </div>
        </div>
        <div class="form-group tags-input-wrapper">
            <label>{{ __('Tags') }}</label>
            <input placeholder="Tags" id="tags" name="tags"/>
         </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
  {{parent()}}

{% autoescape false %}
  <script>
    var tagOptions = {{ tag_options }};
    var tags = {{ tags }} // json encoded
  </script>
{% endautoescape %}

  <script> window.CKEDITOR_BASEPATH = drafTerbit.baseUrl+'assets/ckeditor/'; </script>
  {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@ckeditor'
    '@magicsuggest_js'
    '@bootstrap_datetimepicker_js'
    '@BlogBundle/Resources/js/editor.js'
  %}
  <script type="text/javascript" src="{{ asset_url }}"></script>
  {% endjavascripts %}

  <script> {% include 'CoreBundle:Asset:ckeditor.js.twig' with {ckeditor_ctn:"post[content]" } %}</script>

  {% if post_id == 'new' %}
  <script type="text/javascript">
    drafTerbit.blogPostEditor.syncSlugAndTitle();
  </script>
  {% endif %}
{% endblock %}
