{% extends "CoreBundle::base_index.html.twig" %}

{% block filter %}
    <select name="status-filter" class="dt-table-filter form-control filter post-status-filter">
        <option value="all" >- {{ __('Status') }} -</option>
        <option value="published" >{{ __('Published') }}</option>
        <option value="pending" > {{ __('Pending Review') }}</option>
        <option value="trashed" > {{ __('Trashed') }}</option>
    </select>
    <select name="category-filter" class="dt-table-filter form-control filter post-category-filter">
        <option value="0" >- {{ __('Category') }} -</option>
        {% for category in categories %}
        <option value="{{ category.id }}">{{ category.label }}</option>
        {% endfor %}
    </select>
{% endblock %}

{% block action %}
    {% if is_granted('ROLE_POST_CREATE') %}
    <a href="{{ url('dt_blog_post_edit', {id:"new"}) }}" class="btn btn-success">
        <i class="fa fa-plus" style=""></i> {{ __('New Post') }}
    </a>
    {% endif %}

    {% if is_granted('ROLE_POST_DELETE') %}
    <button class="btn btn-default uncreate-action" type="submit" name="action" value="trash">
        <i class="fa fa-trash-o"></i> {{ __('Trash') }}
    </button>
    {% endif %}
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="{{ view_id }}-data-table">
        <thead>
            <tr>
                <th class="all sorting" width="15">
                    <input id="{{ view_id }}-checkall" type="checkbox">
                </th>
                <th width="60%" class="all">{{ __('Title') }}</th>
                <th class="desktop" width="20%">{{ __('Author') }}</th>
                <th class="all" width="20%">{{ __('Last Modified') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
        '@qs'
        '@BlogBundle/Resources/js/index.js'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
    <script type="text/javascript">
        drafTerbit.blog.post.handleIndexForm('#post-index-form');
        drafTerbit.blog.post.handleIndexTable('#post-data-table', '#post-checkall');
        drafTerbit.blog.post.handleFilter('.post-status-filter', '.post-category-filter', '.filter');
    </script>
{% endblock %}
