{% extends "CoreBundle::base2.html.twig" %}

{% block stylesheets %}
    {{ parent() }}

    {% stylesheets filter='?uglifycss' output="assets/css/*.css"
    '@CoreBundle/Resources/scss/edit.scss' %}
        <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content_header %}
  <h1>
    Edit Page
    <small>Edit Page</small>
  </h1>
{% endblock %}

{% block content %}

<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">{{ __('Edit Page') }}</h3>
    </div>
    <div class="box-body">
      {{ form_start(form, {attr:{id: view_id~"-form"}, action: action}) }}
          <div class="row dt-row-sticky-toolbar">
              <div class="col-md-12">
                  {% block action %} {% endblock %}
              </div>
          </div>

          {% block form %}{% endblock %}
      {{ form_end(form) }}
    </div>
</div>

{% endblock %}

 {% block javascripts %}
     {{ parent() }}
     {% javascripts '@jquery_form' '@sticky_kit' filter='?uglifyjs2' output="assets/js/*.js" %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
     {% endjavascripts %}
 {% endblock %}
