{% extends "CoreBundle::base2.html.twig" %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
        '@CoreBundle/Resources/web/dataTables/dataTables-bootstrap.css'
        '@CoreBundle/Resources/web/dataTables/dataTables.responsive.css'
        '@CoreBundle/Resources/scss/table.scss'

        filter='?uglifycss' output="assets/css/*.css"
    %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block content %}
<form method="POST" id="{{ view_id|default(random()) }}-index-form" >

<div class="box">
    <div class="box-header with-border">
      <h3 class="box-title">{{ __('Pages') }}</h3>
    </div>
    <div class="box-body">

      <!-- @todo move sticky toolbar script and style -->
      <div class="row dt-row-sticky-toolbar">
          <div class="col-md-12">
              {% block action %} {% endblock %}

              <div class="dt-table-filter-container clearfix">
                  <input type="search" class="dt-table-filter form-control" placeholder="{{ __('Search') }}">
                  {% block filter %} {% endblock %}
              </div>
          </div>
      </div>
      <div class="row row-content">
         <div class="col-md-12 table-responsive">
              {% block table %} {% endblock %}
          </div>
      </div>
    </div>
    <!-- /.box-body -->
  </div>

    <input type="hidden" name="_token" value="{{ csrf_token(view_id) }}"/>
</form>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
        '@datatables_js'
        '@CoreBundle/Resources/web/dataTables/dataTables-bootstrap.js'
        '@CoreBundle/Resources/web/dataTables/dataTables.responsive.js'
        '@jquery_checkall'
        '@jquery_form'
        '@sticky_kit'
    %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}
