<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{{ page_title|striptags }} | {{ system.sitename }}</title>

        {% block stylesheets %}
          {% stylesheets
            '@fontawesome'
            '@notify_css'
            '@CoreBundle/Resources/scss/gita-bootstrap.scss'
            '@CoreBundle/Resources/scss/gita.scss'
            filter='?uglifycss' output="assets/css/*.css"
          %}
            <link rel="stylesheet" href="{{ asset_url }}" />
          {% endstylesheets %}
        {% endblock %}

        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <noscript>
            <style type="text/css"> div:not(.noscript), nav {margin: 0; padding: 0; display: none; } body {margin: 0;padding: 0} </style>
            <div class="noscript">Please use javascript-supported browser.</div>
        </noscript>

        {% include 'CoreBundle:Partials:header.html.twig' %}
        {% include 'CoreBundle:Partials:nav.html.twig' %}

        <div>
            <div class="container">
                <div class="row">
                  <div class="col-lg-12">
                        {% block page_title %}
                          {# we'll unescape title so we can put a link within it #}
                          {% autoescape false %}
                              <h2>{{ page_title }}</h2>
                          {% endautoescape %}
                        {% endblock %}
                  </div>
                </div>
            </div>

            {% block content %}{% endblock %}
        </div>
        {% include 'CoreBundle:Partials:footer.html.twig' %}

        {% block javascripts %}
            {% javascripts
             '@jquery'
             '@bootstrap_js'
             '@notify_js'
             '@sticky_kit'
             '@CoreBundle/Resources/js/responsive.js'

            filter='?uglifyjs2' output="assets/js/*.js"
            %}
              <script src="{{ asset_url }}"></script>
            {% endjavascripts %}

            <script src="{{ url('asset_dt_js') }}"></script>
            <script src="{{ url('dt_system_asset_session_js') }}"></script>
        {% endblock %}
    </body>
</html>
