<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Browser</title>

    <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">

    {% stylesheets
      '@elfinder_css'
      '@elfinder_theme_css'
      '@CoreBundle/Resources/css/theme-bootstrap-libreicons-svg.css'
      filter='?uglifycss' output="assets/css/*.css"
    %}
      <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}

</head>
<body>

    <div id="elfinder"></div>

{% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@jquery'
    '@notify_js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ url('asset_dt_js') }}"></script>
<script src="{{ url('dt_system_asset_session_js') }}"></script>

{% javascripts filter='?uglifyjs2' output="assets/js/*.js"
'@jquery_ui_js'
'@elfinder_js' %}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts  %}

<script type="text/javascript" charset="utf-8">
  // Documentation for client options:
  // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
  $(document).ready(function() {

    // Helper function to get parameters from the query string.
    function getUrlParam(paramName) {
        var reParam = new RegExp('(?:[\?&]|&amp;)' + paramName + '=([^&]+)', 'i') ;
        var match = window.location.search.match(reParam) ;

        return (match && match.length > 1) ? match[1] : '' ;
    }

    var funcNum = getUrlParam('CKEditorFuncNum');

     var elf = $('#elfinder').elfinder({
      url : "{{ path("dt_file_data") }}",  // connector URL (REQUIRED)
      uiOptions: {
          toolbar : [
              // toolbar configuration
              //['open'],
              ['back', 'forward'],
              ['reload'],
              //['home', 'up'],
              ['mkdir', 'mkfile', 'upload'],
              //['info'],
              //['quicklook'],
              //['copy', 'cut', 'paste'],
              //['rm'],
              //['duplicate', 'rename', 'edit'],
              //['extract', 'archive'],
              ['search'],
              ['view'],
              //['help']
          ]
      },
      getFileCallback : function(file) {
          window.opener.CKEDITOR.tools.callFunction(funcNum, file.url);
          elf.destroy();
          window.close();
      },
      resizable: false
    }).elfinder('instance');

  });
</script>

</body>
</html>
