<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>File Browser</title>


    {% stylesheets filter='?uglifycss' output="assets/css/*.css"
       '@CoreBundle/Resources/scss/gita-bootstrap.scss'
       '@CoreBundle/Resources/scss/gita.scss'
        '@fontawesome'
        '@notify_css'
        '@finder_css'
      %}
        <link rel="stylesheet" href="{{ asset_url }}" />
      {% endstylesheets %}

<style>
    .container,
    #finder-container {
        width: 100% !important;
        padding: 10px;
    }
</style>
</head>
<body>

<div id="finder-container"></div>

{% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@jquery'
    '@bootstrap_js'
    '@notify_js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

<script src="{{ url('asset_dt_js') }}"></script>
<script src="{{ url('dt_system_asset_session_js') }}"></script>
{# @todo finder locale #}
<!--<script type="text/javascript" src="{{ asset('plugins/finder/src/l10n/'~locale~'.js') }}"></script>-->

{% javascripts filter='?uglifyjs2' output="assets/js/*.js"
'@bootstrap_contextmenu'
'@jquery_form'
'@finder_js'
'@nunjucks'
'@FileBundle/Resources/js/browser.js'
%}
<script type="text/javascript" src="{{ asset_url }}"></script>
{% endjavascripts %}

</body>
</html>
