{% extends "CoreBundle::base_index.html.twig" %}

{% block action %}
<a href="" class="btn btn-success">
    <i class="fa fa-upload" style=""></i> {{ __('Upload') }}
</a>

<button class="btn btn-default">
    <i class="fa fa-folder-o"></i> {{ __('New Folder') }}
</button>
{% endblock %}

{% block table %}
    <table class="table table-hover table-condensed" id="file-data-table">
        <thead>
            <tr>
                <th class="sorting" width="15">
                    <input id="file-checkall" type="checkbox">
                </th>
                <th width="800">{{ __('Filename') }}</th>
                <th width="200">{{ __('Uploaded') }}</th>
            </tr>
        </thead>
    </table>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@FileBundle/Resources/js/index.js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}
{% endblock %}

