{% extends "CoreBundle::base.html.twig" %}

{% block stylesheets %}
  {{ parent() }}

  <link rel="stylesheet" type="text/css" href="//ajax.googleapis.com/ajax/libs/jqueryui/1.12.0/themes/smoothness/jquery-ui.css">

  {% stylesheets
    '@elfinder_css'
    '@elfinder_theme_css'
    '@CoreBundle/Resources/css/theme-bootstrap-libreicons-svg.css'
    filter='?uglifycss' output="assets/css/*.css"
  %}
    <link rel="stylesheet" href="{{ asset_url }}" />
  {% endstylesheets %}

{% endblock %}

{% block content %}
<div class="container">
  <div id="elfinder"></div>
</div>
{% endblock %}


{% block javascripts %}
    {{ parent() }}
    {% javascripts filter='?uglifyjs2' output="assets/js/*.js"
    '@jquery_ui_js'
    '@elfinder_js' %}
    <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts  %}

    <script type="text/javascript" charset="utf-8">
      // Documentation for client options:
      // https://github.com/Studio-42/elFinder/wiki/Client-configuration-options
      $(document).ready(function() {
        $('#elfinder').elfinder({
          url : "{{ path("dt_file_data") }}",  // connector URL (REQUIRED)
          height : 600,
          uiOptions: {
              toolbar : [
                  // toolbar configuration
                  //['open'],
                  ['back', 'forward'],
                  ['reload'],
                  //['home', 'up'],
                  ['mkdir', 'mkfile', 'upload'],
                  //['info'],
                  //['quicklook'],
                  //['copy', 'cut', 'paste'],
                  //['rm'],
                  //['duplicate', 'rename', 'edit'],
                  //['extract', 'archive'],
                  ['search'],
                  ['view'],
                  //['help']
              ]
          },
        });
      });
    </script>
{% endblock %}
